{:paths ["src"]

 :aliases
 {:test
  {:extra-paths ["test" "test_cases"]}

  :parser-test
  {:extra-paths ["test" "test_cases"]
   :main-opts ["-m" "standard-clojure-style.parser-test"]}

  :parse-ns-test
  {:extra-paths ["test" "test_cases"]
   :main-opts ["-m" "standard-clojure-style.parse-ns-test"]}

  :format-test
  {:extra-paths ["test" "test_cases"]
   :main-opts ["-m" "standard-clojure-style.format-test"]}

  :run
  {:main-opts ["-m" "standard-clojure-style.main"]}}}
